.popup {

    width: 300px;
    height: 100px;
    padding: 10px;
    box-shadow: 2px 2px 30px rgba(180, 102, 102, 0.4);
    display: flex;
    justify-content: space-between;
    flex-wrap : wrap;

}

.popup p {

    width: 300px;
    text-align: center;
}

.popup button{
    border: none;
    padding: 0 16px;
    border-radius: 5px;
    box-shadow: 2px 2px 6px rgba(180,102,102, 0.4);
}


.popup>button:nth-child(2){

    background-color: aquamarine;
}

.popup>button:nth-child(3){
    background-color: brown;
}